body {
  background-image: url("./images/darkacademia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  text-align: center;
  color: #f5e5c9;
}

a {
  color: black;
}

.signature {
  text-align: center;
  margin: 30px 0;
  color: #9c9078;
  font-size: 30px;
  font-weight: bold;
}
